body {
    background-color: #DCE1DE;
    color: #131615;
}

.change {
    font-family: 'Gotu', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 50px;
    text-align: center;
}

.box {
    background-color: #ffffff;
    border: 4px solid #131615;
    border-radius: 17px;
    margin: auto;
    margin-top: 45px;
    padding: 0px;
    width: 50%;
}

.box form {
    display: flex;
    flex-direction: column;
}

.inputsP, .schimba {
    background-color: #fffaf0;
    border: 2px solid #092327;
    border-radius: 25px;
    font-weight: bold;
    margin: 15px 20px;
    outline: none;
    padding: 5px 0px;
    text-align: center;
}

.inputsP::placeholder {
    text-align: center;
}

.schimba {
    cursor: pointer;
    margin: 15px 25%;
}

.error {
    color: #E40066;
    text-align: center;
}

.success {
    color: #35df54;
    text-align: center;
}

@media screen and (max-width:500px) {
    .box {
        width: 75%;
    }
}